<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous"></script>
    <!-- <script src='home.js' defer></script> -->
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script>
        let proceed = ()=>{
            console.log("clicked")
            window.location.replace('/details');
        }
    </script>
</head>
<body>
    <div class="info3">
        <h1 id="heading2">Welcome!</h1>
        <h3 id="prompts">This test is a part of a study conducted by students of Indrapratha Institute of Information Technology Delhi (IIITD) in collaboration with Extramarks in the field of AI in Education. 
        </h3>
        <h3 id="prompts">
            About the project: We are working towards analyzing the availability and use of resources provided by a student. Through this test, we are trying to collect data on student performance in relation to the resources studied. The aim is to make better resources available to the students and in the best possible form.            
        </h3>
        <h3>
            This test would take anywhere between 30 to 45 minutes depending on the knowledge of the topics asked in the test.
            None of your personal details will be made public as a part of the study. Your anonymity will be maintained at all stages of the study. The information provided by you will only be used for the purpose of this study.
            Participation in the study is completely voluntary.
        </h3>
        <h3>    
            By clicking on the "proceed" button you are giving consent to participate in our study and contribute your intellectual property for the same. It also indicates that you have read and understood the purpose and consent conditions of participating in this study.
        </h3>
        
        <button id="button2" onclick="proceed()">Proceed</button>
    </div>
</body>
<script>
</script>
</html>